.profile {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile .profile-name {
  flex: 0.2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-name .profile-name__kor {
  font-size: 1.1em;
  font-weight: 600;
  letter-spacing: 7px;
}
.profile-name .profile-name__eng {
  font-size: 0.7em;
  opacity: 0.6;
  letter-spacing: 2px;

  margin-top: 7px;
}

.profile-info {
  flex: 0.8;
  display: flex;
  padding: 20px 0px;

  width: 80%;
}

.profile-info .profile-image {
  width: 350px;
  height: 420px;
  background-color: aquamarine;
}
.profile-info .profile-detail {
  flex: 0.6;
}

.profile-detail-item {
  padding: 0px 20px;
  display: flex;
  margin-bottom: 20px;
}

.profile-detail-item .profile-detail-item__title {
  font-size: 0.9em;
  font-weight: 600;
  margin-right: 50px;
}

.profile-detail-item .profile-detail-item__content {
  font-size: 0.9em;
}
