.register-box {
  width: 100%;
  height: 80vh;
  max-width: 1300px;
  max-height: 600px;
  min-height: 500px;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.job-list {
  padding: 0px 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 100%;
}

.job {
  width: 30%;

  min-width: 200px;
  min-height: 200px;
  border-radius: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 1.2em;
  font-weight: 800;

  line-height: 30px;

  letter-spacing: 0.4em;

  transition: all 0.3s;
}

.job:hover {
  background-color: #474344;
  color: white;
}

.job-eng {
  margin-top: 10px;
}

.register-field__form {
  font-family: "NanumSquare", Arial, Helvetica, sans-serif;
  font-weight: 700;
  width: 300px;

  padding: 15px 18px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  outline: none;
  font-size: 17px;
  margin-top: 10px;
}

.register-form {
  position: relative;

  display: flex;
  flex-direction: column;

  margin: 50px auto;
}

.field-label {
}

.form-title {
  letter-spacing: 5px;

  align-self: center;
}

input[type="password"] {
  font-family: Arial, Helvetica, sans-serif;
}

::placeholder {
  font-family: "NanumSquare";
}

.btn--submit {
  width: 300px;
  height: 50px;

  background-color: #474344;
  color: white;

  margin-left: auto;

  margin-top: 20px;
}

.job-select-list {
  /* padding: 15px 18px; */
  width: 300px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;

  margin-top: 50px;
}

.job-select-item {
  width: 100%;
  height: 50px;

  color: #847d7f;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: white;

  cursor: pointer;

  margin-top: 7px;
}

.job-select-label {
  grid-column: 1 / -1;
  color: #847d7f;
}

.job-select-item input {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.15);

  padding: 12px 18px;

  text-align: center;

  outline: none;
}

.job-select-item input:hover {
  cursor: pointer;
}

.clicked {
  background-color: #474344;
  color: white;
}
