@font-face {
  font-family: "NanumSquare";
  src: url("../fonts/NanumSquareR.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "NanumSquare";
  src: url("../fonts/NanumSquareB.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "NanumSquare";
  src: url("../fonts/NanumSquareEB.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "NanumSquare";
  src: url("../fonts/NanumSquareL.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "NanumSquareRound";
  src: url("../fonts/NanumSquareRoundR.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "NanumSquareRound";
  src: url("../fonts/NanumSquareRoundB.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "NanumSquareRound";
  src: url("../fonts/NanumSquareRoundEB.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "NanumSquareRound";
  src: url("../fonts/NanumSquareRoundL.ttf") format("truetype");
  font-weight: 400;
}

* {
  box-sizing: border-box;
  text-decoration: none;
}

a {
  color: inherit;
}

a:visited {
  color: inherit;
}

html {
  height: 100%;
}

body {
  width: 100%;
  min-width: 960px;
  height: fit-content;
  min-height: 100vh;
  padding: 90px 0px 0px 0px;
  background-color: #fbf8f3;
  color: #474344;

  display: flex;
  flex-direction: column;

  font-family: "NanumSquare";
}

button {
  font-family: "NanumSquare";
}

.header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;

  width: 100%;
  min-width: 960px;
  height: 70px;
  padding: 0px 80px;

  background-color: #fbf8f3;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */

  display: flex;
  justify-content: center;
}
.nav-bar {
  width: 100%;
  max-width: 1240px;

  height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fbf8f3;
}
@media screen and (max-width: 1240px) {
  .nav-bar {
    padding: 0px 40px;
  }
}

.nav-bar__icon {
  flex: 0.2;
  font-size: 23px;
  font-weight: 700;

  height: inherit;
  width: fit-content;

  display: flex;
  align-items: center;
}

.nav-bar .nav-bar__category {
  display: flex;
  height: inherit;

  font-size: 17px;
  font-weight: 600;

  justify-content: space-between;
  align-items: center;
}

.category-item:not(:last-child) {
  margin-right: 60px;
}

.nav-bar__setting {
  display: flex;
  align-items: center;

  position: relative;
}

.dropdown-status {
  position: absolute;
  right: 0;
  top: 100%;

  width: fit-content;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);

  background-color: #fbf8f3;
}

.dropdown-status .status-list {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;

  width: fit-content;
  padding: 20px 20px;
}

.status-list .status-item {
  width: 120px;
  height: 100%;

  /* font-family: "NanumSquare"; */
  font-size: 17px;
  font-weight: 700;
}
.status-list .status-item:hover {
  cursor: pointer;
}

.status-list .status-item:not(:last-child) {
  margin-bottom: 20px;
}

.nav-bar__user-name {
  margin-right: 10px;
}

.nav-bar__user-profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: center / cover no-repeat;
}

.category-item {
  display: flex;
  /* height: 100%; */
  height: 40px;
  /* padding-bottom: 5px; */

  justify-content: space-between;
  align-items: center;
}

.footer {
  position: absolute;
  bottom: 0;
}

.main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.upper-container {
  position: relative;
  padding: 40px 80px;

  height: fit-content;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-box {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1240px;
  height: fit-content;
  min-height: 350px;

  padding: 40px;

  transition: all 1s;
}
@media screen and (max-width: 1240px) {
  /* .welcome-box {
    width: fit-content;
    max-width: 1240px;
    height: fit-content;
    min-height: 350px;

    padding: 40px;
  } */
}

.welcome-box h1 {
  line-height: 30px;
  margin-bottom: 10px;
}

.auth {
  display: flex;
  align-items: center;

  right: 20px;
  bottom: 20px;
}
.btn-signup {
  background-color: #d44242;
  border-radius: 5px;
  color: #fbf8f3;
  padding: 7px 12px;

  margin-left: 10px;
}

.lower-container-wrapper {
  flex: 1;
  color: #fbf8f3;
  background-color: #474344;
  padding: 0px 80px;
}

.lower-container {
  font-family: "NanumSquare";
  max-width: 1240px;
  padding: 60px 0px;

  margin: 0px auto;
}

@media screen and (max-width: 1240px) {
  .lower-container {
    padding: 60px 40px;
  }
}

.lower-container .lower-container__title {
  letter-spacing: 3px;
  margin-bottom: 29px;
  font-weight: 700;
}

.lower-container .lower-container__content {
  margin-top: 20px;
}

.box-frame {
  position: absolute;

  width: 50px;
  height: 50px;
  border: 3px solid rgba(0, 0, 0, 1);
}

.box-frame.top-left {
  top: 0;
  left: 0;

  border-right: none;
  border-bottom: none;
}
.box-frame.top-right {
  top: 0;
  right: 0;

  border-left: none;
  border-bottom: none;
}
.box-frame.bottom-left {
  bottom: 0;
  left: 0;

  border-right: none;
  border-top: none;
}
.box-frame.bottom-right {
  bottom: 0;
  right: 0;

  border-left: none;
  border-top: none;
}

.btn {
  /* width: 70px;
  height: 35px; */
  border-radius: 5px;

  font-size: 17px;
  font-weight: 700;

  border: none;

  font-family: "NanumSquare";
  background-color: transparent;

  outline: none;
  cursor: pointer;
}

.btn--black {
  background-color: #474344;
  color: white;
}

/* font */
.font-xlg {
  font-family: "NanumSquare";
  font-size: 30px;
}

.font-lg {
  font-family: "NanumSquare";
  font-size: 22px;
}

.font-md {
  font-family: "NanumSquare";
  font-size: 17px;
}

.font-sm {
  font-family: "NanumSquare";
  font-size: 0.9em;
}

.font-l {
  font-weight: 300;
}
.font-b {
  font-weight: 600;
}
.font-eb {
  font-weight: 800;
}

/* slider */

.slider-wrapper {
  position: relative;
  top: 0;
  left: 0;
  /* width: 610px; */
  width: 100%;
  margin: 0px auto;
  /* margin-top: 40px; */
}

.move-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;

  outline: none;

  transition: all 0.2s;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
}

.move-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.prev-btn {
  left: -60px;
}

.next-btn {
  right: -60px;
}

.slider-show-area {
  position: relative;

  width: 100%;
  overflow: hidden;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;

  transition: left 0.4s ease-out;
  display: flex;
  flex-wrap: nowrap;
}

.slide {
  height: fit-content;
  margin-right: 20px;
}

.like-btn-container {
  position: absolute;
  top: 0px;
  right: 30px;

  display: flex;
  align-items: center;

  color: #d44242;

  border: 3px solid #d44242;
  border-radius: 9999px;

  padding: 5px 8px;
}

.like-btn-container i {
  margin-right: 7px;
}
