.welcome-box {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1240px;
  height: fit-content;
}

.welcome-box h1 {
  font-size: 20px;
  line-height: 30px;
}

.auth {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

/* lower container */

.movies {
  display: flex;
  flex-wrap: wrap;
}
.movies .movie {
  margin-right: 20px;
}

.movie .movie-info {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

.movie-thumbnail img {
  /* 가로세로 1:1.3비율 */
  width: 150px;
  height: 195px;
}

.movie-plus img {
  /* 가로세로 1:1.3비율 */
  width: 150px;
  height: 195px;
}

.complete {
  font-family: "NanumSquare";

  position: absolute;
  top: 20px;
  right: 20px;

  border: none;
  background-color: transparent;
  font-size: 18px;
  font-weight: 700;
  color: #d44242;
  outline: none;

  width: fit-content;
  height: fit-content;
}

.enroll-movie-form {
  width: 100%;
}

.enroll-movies {
  width: 100%;
  display: flex;
  text-align: center;
}

.enroll-movie {
  width: 50%;
}

.enroll-smalls {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.enroll-small {
  width: 45%;
}

.enroll-setting {
  margin-bottom: 15px;
}

.enroll-own,
.enroll-url {
  width: 100%;
  margin-bottom: 30px;
  background-color: #fbf8f3;
  border-width: 2px solid black;
  border-radius: 10px;

  padding: 10px 20px;
}

.enroll-img {
  margin-bottom: 30px;
  font-family: "NanumSquare";
  font-weight: 500;
  text-align: center;
}

.enroll-movie-item {
  width: 100%;
  height: 105px;
  padding: 0px 50px;
}
.enroll-movie-summary {
  padding: 0px 50px;
}

.enroll-movie-summary input {
  width: 100%;
  height: 120px;
  background-color: #fbf8f3;
  border-width: 2px solid black;
  border-radius: 10px;

  padding: 10px 20px;
}
