{% extends 'base_header.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/my_account.css' %}">
{% endblock %}

{% block content %}
<main class="account-main">
    <div class="account-setting-container">
        <ul class="setting__left-col">
            <li class="setting-item font-lg font-b">
                <a href="{% url 'my_account' %}">
                    프로필 편집
                </a>
            </li>
            <li class="setting-item font-lg font-eb">
                <a href="{% url 'edit_password' %}">
                    비밀번호 변경
                </a>
            </li>
        </ul>
        <div class="setting__right-col">
            <form method="POST" action="" class="password-form">
                {% csrf_token %}
                <ul class="input-list">
                    <li class="input-item">
                        <div class="input-label font-md font-eb">이전 비밀번호</div>
                        <input name="prev_password" class="account-input font-md font-b" type="password">
                    </li>
                    <li class="input-item">
                        <div class="input-label font-md font-eb">새 비밀번호</div>
                        <input name="new_password1" class="account-input font-md font-b" type="password" name="" id="">

                    </li>
                    <li class="input-item">
                        <div class="input-label font-md font-eb">새 비밀번호 확인</div>
                        <input name="new_password2" class="account-input font-md font-b" type="password">
                    </li>
                </ul>
                <button class="btn btn--black font-lg">비밀번호 변경</button>
            </form>

        </div>

    </div>

</main>

{% endblock %}