{% extends 'base_header.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/likes.css' %}">
<link rel="stylesheet" href="{% static 'css/my_account.css' %}">
{% endblock %}

{% block js %}

{% endblock %}


{% block content %}
<main class="account-main">
  <div class="likes-container">
    <ul class="left-column font-lg font-b">
      <li class="like-cate-item {% if type == 0 %} font-eb {% endif %}"> <a href="{% url 'likes' %}">영화</a> </li>
      <li class="like-cate-item {% if type == 1 %} font-eb {% endif %}"> <a href="{% url 'likes_director' %}">감독</a>
      </li>
      <li class="like-cate-item {% if type == 2 %} font-eb {% endif %}"> <a href="{% url 'likes_actor' %}">배우</a> </li>
      <li class="like-cate-item {% if type == 3 %} font-eb {% endif %}"> <a href="{% url 'likes_staff' %}">스태프</a> </li>
    </ul>
    <ul class="right-column">
      {% for like in likes %}

      <li class="like-item">
        {% if type == 0 %}
        <a href="{% url 'movie_detail' like.movie.id %}">
          <div class="image-thumbnail" style="background-image: url('{{like.movie.poster.url}}')">
          </div>
          <div class="image-title font-b" style="font-size:20px;">{{like.movie.title}}</div>
          <div class="image-title font-md font-b">{{like.movie.director.name}}</div>
        </a>
        {% else %}
        <a href="{% url 'user_page' like.profile_user.id %}">
          <div class="image-thumbnail" style="background-image: url('{{like.profile_user.avatar.url}}')">
          </div>
          <div class="image-title font-md font-b">{{like.profile_user.name}}</div>
        </a>
        {% endif %}

      </li>
      {% endfor %}
    </ul>


  </div>
  </div>
</main>

{% endblock %}