{% extends 'base_header.html' %}
{% load static %}

{% block title %}
Staff-Register
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/register.css' %}" />
<link rel="stylesheet" href="{% static 'css/base.css' %}" />
{% endblock %}

{% block content %}
<h2>Staff Register</h2>

<form class="register-form" action="#" method="POST">
    {% csrf_token %}

    {% for field in form %}

    <div class="register-field">
        <!-- <div class="field-label">
            {{field.label}}
        </div> -->
        {{field}}
        {% if field.help_text %}
        <div style="font-size: 12px; color: grey;">{{field.help_text}}</div>
        {% endif %}
    </div>

    {% endfor %}
    <button class="btn btn--submit" type="submit">제출</button>
</form>

{% endblock content %}