.welcome-box {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1300px;
  height: 350px;
}

.welcome-box h1 {
  font-size: 20px;
  line-height: 30px;
}

/* .auth {
  position: absolute;
  right: 20px;
  bottom: 20px;
} */

/* lower container */

.movies {
  display: flex;
  flex-wrap: wrap;
}
.movies .movie {
  width: 20%;
  margin-right: 20px;
}

.movie-pf-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.movie-pf {
  height: fit-content;
  color: white;

  padding: 15px;
  margin: 15px;

  position: relative;

  font-family: "NanumSquare";
}

.movie .movie-info {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

.movie-thumbnail img {
  /* 가로세로 1:1.3비율 */
  width: 100%;
  /*height: 195px;*/
}

.movie-plus img {
  /* 가로세로 1:1.3비율 */
  width: 150px;
  height: 195px;
}

.modify {
  position: absolute;
  color: #d44242;

  top: 10px;
  right: 20px;
}
