/* @media screen and (min-width: 920px) {
  .slider-wrapper {
    width: 820px;
  }
}

@media screen and (min-width: 1130px) {
  .slider-wrapper {
    width: 1030px;
  }
}

@media screen and (min-width: 1340px) {
  .slider-wrapper {
    width: 1240px;
  }
} */

.movie:not(:last-child) {
  margin-right: 20px;
}

.slide > .movie-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
}

.slide > a {
  margin-right: 20px;
}

.job-item:not(:last-child) {
  margin-bottom: 110px;
}

.actor-image {
  margin-right: 20px;
}

.actor-name {
  text-align: center;
}
