@import "image.css";

.movie-main {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
}

.movie-pf-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.movie-pf {
  height: fit-content;
  color: white;

  padding: 15px;
  margin: 15px;

  position: relative;

  font-family: "NanumSquare";
}

.director-plus {
  height: fit-content;
  color: white;

  padding: 15px;
  margin: 15px;

  position: relative;

  font-family: "NanumSquare";
}

.movie-pf__thumbnail {
  /* 1 : 1.432 비율, 화면당 3개 */
  width: 100%;
  padding-top: 143%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.movie-pf__title {
  font-size: 20px;
  margin-top: 15px;
  letter-spacing: 2px;
}

.movie-pf__prod-year {
  font-size: 15px;
  margin-top: 15px;
  letter-spacing: 3px;
}

.movie-pf__summary {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-pf-frame {
  position: absolute;

  width: 40px;
  height: 40px;
  border: 2px solid white;
}

.movie-pf-frame.top-left {
  top: 0;
  left: 0;

  border-right: none;
  border-bottom: none;
}

.movie-pf-frame.top-right {
  top: 0;
  right: 0;

  border-left: none;
  border-bottom: none;
}

.movie-pf-frame.bottom-left {
  bottom: 0;
  left: 0;

  border-right: none;
  border-top: none;
}

.movie-pf-frame.bottom-right {
  bottom: 0;
  right: 0;

  border-left: none;
  border-top: none;
}

.movie-plus img {
  /* 가로세로 1:1.3비율 */
  width: 150px;
  height: 195px;
}

.modify {
  position: absolute;
  color: #d44242;

  top: 10px;
  right: 20px;
}

.movie-main > .movie-info {
  display: flex;
  margin-top: 40px;
}

.movie__left-col {
  width: fit-content;
  margin-right: 70px;
}

.movie__right-col {
  flex: 1;
}

.movie-trailer-thumbnail {
  width: 826px;
}

.no-thumbnail {
  height: 450px;

  background-color: grey;

  display: flex;
  justify-content: center;
  align-items: center;
}

.movie__left-col > .movie-summary {
  margin-top: 42px;
}

.movie-summary__item:not(:first-child) {
  margin-top: 16px;
}

.movie-summary__item {
  display: flex;
  justify-content: space-between;
}

.movie-summary__item .item-title {
}

.movie__right-col > .movie__intro {
  margin-top: 19px;

  display: flex;
}

.movie__intro > .item-title {
  width: 100px;
}

.movie__intro > .item-content {
  flex: 1;
  line-height: 20px;
}

.section {
  display: none;
  width: 80%;
  height: 80%;
  background-color: #474344;
  color: white;

  flex-direction: row;
  align-items: left;

  border-radius: 10px;

  padding-bottom: 20px;

  position: relative;
}

.section-content {
  display: none;
}

.no-thumbnail {
  height: 450px;

  background-color: grey;

  display: flex;
  justify-content: center;
  align-items: center;
}

.section-background {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  display: none;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.24);
}

.director-profile {
  width: 30%;
  margin-right: 10px;
  margin-top: 50px;
  margin-left: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.section-detail {
  overflow: auto;
  width: 70%;
  background-color: white;
  color: black;
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 40px;
  margin-bottom: 20px;
}

.section-cancle {
  position: absolute;
  width: 10%;
  font-size: large;
  background: none;
  top: 0;
  right: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  text-align: right;
  font-weight: 400;
}

.box-frame.movie-box {
  position: absolute;

  width: 50px;
  height: 50px;
  border: 1px solid white;
}

.slide > .movie-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
}

.slide > a {
  margin-right: 20px;
}

.section-items {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  position: relative;
  padding-bottom: 10px;
  margin-top: 10px;
}

.section-item {
  position: relative;
}

.section-items .section-btn,
.section-plus {
  width: 380px;
  height: 230px;
  position: relative;
  margin-top: 10px;
  margin-right: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 60px;
  border: 3px solid white;
}

.section-btn:hover {
  cursor: pointer;
}

.section-plus a {
  width: 100%;
  height: 100%;
  border-radius: 60px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.section-poster img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  border-width: 1px;
  border: 1px solid;
  border-color: white;
  filter: brightness(50%);
}

.section-poster-div {
  width: 100%;
  height: 100%;
  /* padding-top: 60%; */

  border-radius: 57px;

  position: absolute;
  top: 0;
  left: 0;

  background: center / cover no-repeat;
  opacity: 0.6;
}

.section-cancle:hover {
  cursor: pointer;
}

.section-name {
  position: relative;

  width: 85%;
  height: 80%;

  padding: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.section-show strong {
  font-weight: 500;
}

.director-name-kr {
  font-weight: 600;
  font-size: large;
  margin-bottom: 5px;
}

.director-name-eng {
  font-weight: 100;
  font-size: small;
  margin-bottom: 20px;
}

.director-avatar img {
  width: 80%;
  margin-bottom: 20px;
}

.profile {
  width: 100%;
  margin-bottom: 20px;
}

.director-setting {
  float: left;
  font-weight: 500;
  margin-left: 10%;
}

.director-own {
  float: right;
  font-weight: 100;
  margin-right: 10%;
}

.director-award {
  float: left;
  font-weight: 100;
  margin-left: 10%;
}

.section-thumbnail {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 30px;
  margin-bottom: 10px;
}

.section-title {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  font-size: large;
  font-weight: 600;
  margin-bottom: 10px;
}

.section-main {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: left;
  margin-bottom : 30px;
}

.section-box-frame {
  position: absolute;

  width: 30px;
  height: 30px;
  border: 3px solid white;
}

.section-box-frame.top-left {
  top: 8%;
  left: 10%;

  border-right: none;
  border-bottom: none;
}

.section-box-frame.top-right {
  top: 8%;
  right: 10%;

  border-left: none;
  border-bottom: none;
}

.section-box-frame.bottom-left {
  bottom: 8%;
  left: 10%;

  border-right: none;
  border-top: none;
}
.section-box-frame.bottom-right {
  bottom: 8%;
  right: 10%;

  border-left: none;
  border-top: none;
}

.section-edit {
  height: fit-content;
  position: relative;
  margin-bottom: 50px;
}

.section-edit .btn {
  font-family: "NanumSquare";

  position: absolute;
  top: 0px;
  right: 0px;

  border: none;
  background-color: transparent;
  font-size: 18px;
  font-weight: 700;
  color: #d44242;
  outline: none;

  width: fit-content;
  height: fit-content;
}

.section-plus {
  display: none;
}

.section-editing {
  display: none;
  text-align: center;
}

.section-editing .section-delete {
  position: absolute;
  top:10%;
  right:13%;
}

.section-editing .section-update {
  position: absolute;
  top:10%;
  left:5%;
}

.section-editing .btn {
  font-family: "NanumSquare";

  border: none;
  background-color: transparent;
  font-size: 15px;
  font-weight: 700;
  color: #d44242;
  outline: none;
}

.movie-editing .btn {
  font-family: "NanumSquare";

  border: none;
  background-color: transparent;
  font-size: 20px;
  font-weight: 700;
  color: #d44242;
  outline: none;
}

.movie-editing .movie-delete {
  position: absolute;
  top:0%;
  right:0%;
}

.movie-editing .movie-update {
  position: absolute;
  top:0%;
  left:0%;
}

.movie-editing {
  display: none;
}

.section-editing .section-update input,
.section-editing .section-delete input{
  font-family: "NanumSquare";

  border: none;
  background-color: transparent;
  font-size: 15px;
  font-weight: 700;
  color: #d44242;
  outline: none;
}

.director-plus {
  width: 100%;
  height: 100%;
  border-radius: 60px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 71.5%;
  padding-bottom: 71.5%;
}

