{% extends 'base_border.html' %}
{% load static %}

{% block title %}
Directory - Actors
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/actors.css' %}">
{% endblock %}

{% block upper-container %}
<h1 class="actors-title font-lg">오늘의 배우</h1>

<ul class="actors">
    {% for actor in random_actors %}
    <li class="actor">
        <a href="{% url 'user_page' actor.profile.id %}">
            <div class="actor-image" style="background-image: url({{actor.favorite_image.url}});"></div>
        </a>
        <div class="actor-name font-md">{{actor.profile.name}}</div>
    </li>
    {% endfor %}
</ul>

{% endblock %}

{% block lower-container %}
{% endblock %}