{% extends 'base_header.html' %}
{% load static %}

{% block js %}
{% endblock %}

{% block content %}

<div class="upper-container">
    <div class="welcome-box">
        <div class="box-frame top-left"></div>
        <div class="box-frame top-right"></div>
        <div class="box-frame bottom-left"></div>
        <div class="box-frame bottom-right"></div>
        {% block upper-container %}

        {% endblock %}
    </div>

</div>
<div class="lower-container-wrapper">
    <div class="lower-container">
        {% block lower-container %}

        {% endblock %}
    </div>
</div>

<script>
    $(".upper-container").ready(function () {
    //     console.log("hihi");
        $(".upper-container").hide(); //기본 fadeIn 메소드
        $(".lower-container").hide(); //기본 fadeIn 메소드
        $(".upper-container").fadeIn(2000); //기본 fadeIn 메소드
        setTimeout(() => {
            $(".lower-container").fadeIn(2000); //기본 fadeIn 메소드
        }, 1300)

    });
</script>
{% endblock %}