{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
    {% block title%}
    {% endblock %}
    </title>
    <link rel="stylesheet" type='text/css' href="{% static 'css/reset.css' %}" />
    <link rel="stylesheet" type='text/css' href="{% static 'css/base.css' %}" />
    {% block css %}
    {% endblock %}
</head>

<body>
    {% block content %}
    
    <main class="main">
        
        
    </main>
    <footer class="footer">
        
    </footer>
    {% endblock %}
</body>

<script src="{% static 'js/header.js' %}"></script>

</html>