{% extends 'base_header.html' %}

{% block content %}

<div class="upper-container">
    <div class="welcome-box">
        <div class="box-frame top-left"></div>
        <div class="box-frame top-right"></div>
        <div class="box-frame bottom-left"></div>
        <div class="box-frame bottom-right"></div>
        {% block upper-container %}

        {% endblock %}
        {% if user.is_authenticated %}
        <div class="auth font-md font-b">
            <a href="{% url 'logout' %}">Logout</a>
        </div>
        {% endif %}
    </div>
</div>
<div class="lower-container-wrapper">
    <div class="lower-container">
        {% block lower-container %}

        {% endblock %}
    </div>
</div>

{% endblock %}