{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        {% block title%}
        {% endblock %}
    </title>
    <link rel="stylesheet" type='text/css' href="{% static 'css/reset.css' %}" />
    <link rel="stylesheet" type='text/css' href="{% static 'css/base.css' %}" />
    {% block css %}
    {% endblock %}
    {% block js %}
    {% endblock %}
    <script src="{% static 'js/header.js' %}"></script>
    <script src="https://kit.fontawesome.com/9760767faf.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="header">
        <nav class="nav-bar">
            <div class="nav-bar__icon font-eb"><a href="{% url 'home' %}">DIRECTORY</a></div>
            <ul class="nav-bar__category">
                <li class="category-item font-md font-b" name="directors"><a href="{% url 'directors' %}">DIRECTOR</a> </li>
                <li class="category-item font-md font-b" name="staffs"><a href="{% url 'staffs' %}">STAFF</a> </li>
                <li class="category-item font-md font-b" name="actors"><a href="{% url 'actors' %}">ACTOR</a></li>
                <li class="category-item font-md font-b" name="user_page"><a href="{% url 'user_page' %}">MY PORTFOLIO</a> </li>
            </ul>
            {% if user.is_authenticated %}
            <div class="nav-bar__setting">
                <div class="nav-bar__user-name font-md font-b">
                    {{user.name}}님
                </div>

                {% if user.avatar %}
                <div class="nav-bar__user-profile font-md font-b" style="background-image: url('{{user.avatar.url}}');">

                </div>
                {% else %}
                <div class="nav-bar__user-profile font-md font-b"
                    style="background-image: url('/static/images/default_user.jpg');">
                </div>
                {% endif %}
                <div class="dropdown-status">
                    <ul class="status-list">
                        <li class="status-item"> <a href="{% url 'my_account' %}">My Accounts</a></li>
                        <li class="status-item"> <a href="{% url 'likes' %}">Likes</a></li>
                        <li class="status-item"> <a href="{% url 'logout' %}">Sign out</a></li>
                    </ul>
                </div>
            </div>
            {% else %}
            <div class="auth font-md font-b">
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'register' %}">
                    <div class="btn-signup">
                        Register
                    </div>
                </a>
            </div>
            {% endif %}
        </nav>
    </header>
    {% block content %}

    {% endblock %}
</body>

<script src="{% static 'js/header.js' %}"></script>

</html>