{% extends 'base_border.html' %}
{% load static %}

{% block title %}
Directory - Directors
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="{% static 'css/directors.css' %}">
{% endblock %}

{% block upper-container %}

{% endblock %}

{% block lower-container %}

<div class="lower-container">
    <h2 class="lower-container__title">HOT DIRECTOR</h2>
    <ul class="lower-container__content">
        <ul class="movies">
            {% for portfolio in all_portfolio %}
            <li class="movie">
                <form id="movie{{ forloop.counter }}-form" action="{% url 'directors' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" value="{{portfolio.id}}" name="portfolio-id">
                    <a href="javascript:$('#movie{{ forloop.counter }}-form').submit();">
                        <div class="movie-thumbnail">
                            <img src="{{portfolio.poster.url}}" />
                        </div>
                    </a>
                    <input type="submit" value="제출">
                    <div class="movie-info">
                        <p>
                            {{portfolio.title}}
                        </p>
                    </div>
                </form>
            </li>
            {% endfor %}
            <li class="movie">
                <div class="movie-plus">
                    <a href="{% url 'enroll_movie' %}">
                        <img src="{% static 'img/add.png' %}">
                    </a>
                </div>
                <div class="movie-info">
                    <p>
                        추가하기
                    </p>
                </div>
            </li>
        </ul>
    </ul>
</div>
{% endblock %}