{% extends 'base_border.html' %}
{% load static %}

{% block title %}
Directory - Directors
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="{% static 'css/directors.css' %}">
<link rel="stylesheet" href="{% static 'css/image.css' %}">
{% endblock %}

{% block js %}
<script src="{% static 'js/slider.js' %}"></script>

{% endblock %}

{% block upper-container %}
<h1 class="directors-title font-lg">오늘의 감독</h1>

<ul class="directors">
    {% for director in random_directors %}
    <li class="director">
        <a href="{% url 'user_page' director.profile.id %}">
            <div class="director-image" style="background-image: url('{{director.profile.avatar.url}}');"></div>
        </a>
        <div class="director-name font-md font-b">{{director.profile.name}}</div>
    </li>
    {% endfor %}
</ul>
{% endblock %}

{% block lower-container %}

<div class="lower-container">
    <ul class="lower-container__content">
        <li class="job-item">
            <h2 class="lower-container__title font-lg">HOT MOVIE</h2>
            <div class="slider-wrapper">
                <div class="move-btn prev-btn"><i class="fas fa-chevron-left"></i></div>
                <div class="move-btn next-btn"><i class="fas fa-chevron-right"></i></div>

                <div class="slider-show-area">
                    <ul class="slider">
                        {% for portfolio in all_portfolio %}
                        <li class="slide">
                            <a href="{% url 'movie_detail' portfolio.id %}">
                                <div class="image-thumbnail" style="background-image: url('{{portfolio.poster.url}}');">
                                </div>
                            </a>
                            <div class="image-name font-md font-b" style="font-size: 20px">
                                <{{portfolio.title}}>
                            </div>
                            <div class="image-name font-md font-b" style="margin-top: 8px;">
                                {{portfolio.director.name}}
                            </div>

                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </li>
    </ul>
</div>
{% endblock %}