{% extends 'base_border.html' %}
{% load static %}

{% block title %}DIRECTORY - Home{% endblock %}

{% block css %}
<link rel="stylesheet" type='text/css' href="{% static 'css/home.css' %}" />
{% endblock %}

{% block js %}
<script src="{% static 'js/slider.js' %}"></script>
{% endblock %}


{% block upper-container %}

{% if user.is_authenticated %}
<h1>
    Welcome,
</h1>
{% if request.user.u_type == 1 %}
Director
{% elif request.user.u_type == 2 %}
Actor
{% elif request.user.u_type == 3 %}
Staff
{% endif %}
{{request.user.username}}
{% else %}

{% endif %}

{% endblock %}

{% block lower-container %}
<h2 class="lower-container__title font-lg">HOT DIRECTOR</h2>
<ul class="lower-container__content">

    <div class="slider-wrapper">
        <div class="move-btn prev-btn"><i class="fas fa-chevron-left"></i></div>
        <div class="move-btn next-btn"><i class="fas fa-chevron-right"></i></div>
        
        <div class="slider-show-area">
            <ul class="slider">
                {% for portfolio in all_portfolio %}
                <li class="slide">
                    <img class="movie-thumbnail" src="{{portfolio.poster.url}}"/>
                    <div class="movie-info">
                        <p>
                            {{portfolio.title}}
                        </p>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</ul>

<h2 class="lower-container__title font-lg">HOT DIRECTOR</h2>
{% endblock %}