{% extends 'base_border.html' %}
{% load static %}

{% block title %}
DIRECTORY - Movie
{% endblock %}

{% block css %}
<link rel="stylesheet" type='text/css' href="{% static 'css/movie.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/edit.css' %}"/>
{% endblock %}


{% block js %}
<script src="{% static 'js/movie.js' %}"></script>
<script src="{% static 'js/slider.js' %}"></script>
<script src="{% static 'js/sectionedit.js' %}"></script>
{% endblock %}

{% block upper-container %}

<div class='font-lg font-eb'>
    {{movie_obj.title}}
</div>
{% if movie_obj.title_eng %}
<div class='font-sm'>
    {{movie_obj.title_eng}}
</div>
{% endif %}

<div class="movie-info">
<!-- movie 자체 수정은 mypage에서 하도록? -->
    {% if user == movie_obj.director %}
        <div class="movie-editing">
            <form method="POST" class="movie-update" action="{% url 'update_movie' movie_obj.id %}"> {% csrf_token %}
                <a href="javascript:{}" onclick="document.querySelector('form.movie-update').submit();">
                    <div class="btn"><i class="fas fa-circle"></i> 수정하기</div>
                </a>
            </form>
            <form method="POST" class="movie-delete" action="{% url 'delete_movie' movie_obj.id %}"> {% csrf_token %}
                <a href="javascript:{}" onclick="document.querySelector('form.movie-delete').submit();">
                    <div class="btn"><i class="fas fa-circle"></i> 삭제하기</div>
                </a>
            </form>      
        </div> 
    {% endif %}
    
    <div class="movie__left-col">
        <img class="movie-thumbnail" src='{{movie_obj.poster.url}}'>
        <ul class="movie-summary font-md">
            <li class="movie-summary__item">
                <div class="item-title font-eb">감독</div>
                <div class="font-b">{{movie_obj.director.name}}</div>
            </li>
            <li class="movie-summary__item">
                <div class="item-title font-eb">장르</div>
                <div class="font-b">{{movie_obj.genre}}</div>
            </li>
            <li class="movie-summary__item">
                <div class="item-title font-eb">개봉연도</div>
                <div class="font-b">{{movie_obj.production_year}}</div>
            </li>
        </ul>
    </div>
    {% if movie_obj.title_eng %}
    <div class='font-sm'>
        {{movie_obj.title_eng}}
    </div>
    {% endif %}

    <div class="movie-info">
        <div class="like-btn-container font-lg font-b">
            {% if is_like %}
            <a href="{% url 'delete_like_movie' %}" onclick="return confirm('팔로우를 취소하시겠습니까?');">
                <i class="fas fa-heart"></i>
            </a>
            {% else %}
            <a href="{% url 'add_like_movie' %}">
                <i class="far fa-heart"></i>
            </a>
            {% endif %}
            <span class="like-cnts">{{likes}}</span>
        </div>
        <div class="movie__left-col">
            <img class="image-thumbnail" src='{{movie_obj.poster.url}}'>
            <ul class="movie-summary font-md">
                <li class="movie-summary__item">
                    <div class="item-title font-eb">감독</div>
                    <div class="font-b">{{movie_obj.director.name}}</div>
                </li>
                <li class="movie-summary__item">
                    <div class="item-title font-eb">장르</div>
                    <div class="font-b">{{movie_obj.genre}}</div>
                </li>
                <li class="movie-summary__item">
                    <div class="item-title font-eb">개봉연도</div>
                    <div class="font-b">{{movie_obj.production_year}}</div>
                </li>
            </ul>
        </div>
        <div class="movie__right-col">
            {% if movie_obj.trailer_thumbnail %}
            <img class="movie-trailer-thumbnail" src='{{movie_obj.trailer_thumbnail.url}}'>
            {% else %}
            <div class="movie-trailer-thumbnail no-thumbnail font-xlg font-b">No Movie Trailer</div>
            {% endif %}
            <div class="movie__intro">
                <div class="item-title font-md font-eb">줄거리</div>
                <p class="item-content font-md">{{movie_obj.summary}}</p>
            </div>
        </div>
    </div>
</main>

{% endblock %}

{% block lower-container %}
    {% if movie_obj.director == user %}
    <div class="section-edit">
    <button class="btn btn--revise"><i class="fas fa-circle"></i> 수정하기</button>
    <button class="btn btn--done"><i class="fas fa-circle"></i> 완료</button>
    </div>
    {% endif %}
    <ul class="section-items">
    {% for section in sections %}
        
        <li class="section-item">      
            <div class="section-btn">   
                <div class='section-poster-div' style="background-image: url('{{section.thumbnail.url}}');">
                    <!-- <img class='section-url' src='{{section.thumbnail.url}}'> -->
                    <input class='section-url' type="hidden" value="{{section.thumbnail.url}}">
                    <p class="section-content">{{section.content}}</p>                
                </div>    
                <div class="section-box-frame top-left"></div>
                <div class="section-box-frame top-right"></div>
                <div class="section-box-frame bottom-left"></div>
                <div class="section-box-frame bottom-right"></div>
                <p class="section-name"><strong>{{section.title}}</strong></p>  
            </div>  
            <div class="section-editing">
                <form method="POST" class="section-update" action="{% url 'section_update' section.id %}"> {% csrf_token %}
                    <input type="submit" value="● 수정하기">
                    <p>{{section.id}}</p>
                </form>
                <form method="POST" class="section-delete" action="{% url 'section_delete' section.id %}"> {% csrf_token %}
                    <input type="submit" value="● 삭제하기">
                    <p>{{section.id}}</p>
                </form>      
            </div> 
        </li>
    {% endfor %}
    {% if user == movie_obj.director %}
    <form class="section-plus" action="{% url 'section_create' %}" method="POST">
        {% csrf_token %}
        <div class="section-box-frame top-left"></div>
        <div class="section-box-frame top-right"></div>
        <div class="section-box-frame bottom-left"></div>
        <div class="section-box-frame bottom-right"></div>
        <a href="javascript:{}" onclick="document.querySelector('form.section-plus').submit();">
            <input type="hidden" value="{{movie_obj.id}}" name="movie_id">
            <i class="fas fa-plus font-xlg font-eb"></i>
        </a>
    </form>
    {% endif %}
    </ul>
</div> 

<div class='section-background'>
    <div class='section'>
        <div class='section-cancle'>
            X
        </div>

        <div class='director-profile'>
            <p class="director-name-kr">{{movie_obj.director.name}}</p>
            <p class="director-name-eng">{{movie_obj.director.name_eng}}</p>
            {% if movie_obj.director.avatar %}
            <div class="director-avatar">
                <img src='{{movie_obj.director.avatar.url}}'>
            </div>
            {% endif %}
            <div class="profile">
                <p class="director-setting">나이</p>
                <p class="director-own">{{movie_obj.director.age}}</p>
            </div>
            <br></br>
            <div class="profile">
                <p class="director-setting">학력</p>
                <p class="director-own">{{movie_obj.director.education}}</p>
            </div>
            <br></br>
            <div class="profile">
                <p class="director-setting">수상</p>
                <br></br>
                <span class="director-award">{{director.awards}}</span>
            </div>
            <br></br>
        </div>

        <div class='section-detail'>
            <img class="section-thumbnail">
            <div class='section-title'>

            </div>
            <div class='section-main'>

            </div>
        </div>
    </div>
</div>

{% endblock %}