{% extends 'base_home.html' %}
{% load static %}

{% block title %}
DIRECTORY - Mypage
{% endblock %}

{% block css %}
<link rel="stylesheet" type='text/css' href="{% static 'css/mypage.css' %}">
<link rel="stylesheet" type='text/css' href="{% static 'css/home.css' %}" />
{% endblock %}

{% block upper-container %}
<div class="welcome-box">

    <div class="box-frame top-left"></div>
    <div class="box-frame top-right"></div>
    <div class="box-frame bottom-left"></div>
    <div class="box-frame bottom-right"></div>

    <div class="profile">
        <div class="profile-name">
            <p class="profile-name__kor">김보라</p> <p class="profile-name__eng">BORA KIM</p> 
        </div>
        <div class="profile-info">
            <div class="profile-image">image
                <img src="" alt="">

            </div>
            <div class="profile-detail">
                <ul class="profile-detail-list">
                    <li class="profile-detail-item">
                        <div class="profile-detail-item__title">소개</div>
                        <div class="profile-detail-item__content">저는 감독</div>
                    </li>
                    <li class="profile-detail-item">
                        <div class="profile-detail-item__title">출생</div>
                        <div class="profile-detail-item__content">1991</div>
                    </li>
                    <li class="profile-detail-item">
                        <div class="profile-detail-item__title">학력</div>
                        <div class="profile-detail-item__content">콜럼비아대학교 영화학과</div>
                    </li>
                </ul>

            </div>
        </div>

    </div>

</div>
{% endblock %}