{% extends 'base_header.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type='text/css' href="{% static 'css/section_create.css' %}" />
{% endblock %}

{% block content %}

    <form class="section-create-form fomd-md font-b"action="{% url 'section_create' %}" method="POST">{% csrf_token %}
        <div class="box-frame top-left"></div>
        <div class="box-frame top-right"></div>
        <div class="box-frame bottom-left"></div>
        <div class="box-frame bottom-right"></div>
        <table style="width:100%;">
            {{section_form.as_table | safe}}
        </table>

        <input type="hidden" value="{{movie_obj.id}}" name="movie_id">
        {% if section_id %}
        <input type="hidden" value="{{section_id}}" name="section_id">
        {% else %}
        <input type="hidden" value="None" name="section_id">
        {% endif %}
        
        <input class="complete font-lg font-b" type="submit" value="● 완료하기">
    </form>

{% endblock %}