{% extends 'base.html' %}
{% load static %}

{% block title %}
DIRECTORY - Home-Staff
{% endblock %}

{% block content %}

<br>

<div class="staff_recommendation">
    <h2>Hot Now!</h2> <br>
    {% for portfolio in random_portfolio %}
    <a href="{% url 'staff_detail' portfolio.profile_id %}">
        <div class="all_portfolio2">
            <p><img src="{{ portfolio.profile.avatar.url }}" width="265" height="380" alt="Staff_Image"></p>
            <p>{{ portfolio.profile.name }}</p>
        </div>
    </a>
    {% endfor %}
</div>

<br>
<div class>
    {% for portfolio in all_portfolio %}
    <a href="{% url 'staff_detail' portfolio.profile_id %}">
        <div class="all_portfolio">
            <p><img src="{{ portfolio.profile.avatar.url }}" width="265" height="380" alt="Staff_Image"></p>
            <p>{{ portfolio.profile.name }}</p>
        </div>
    </a>
    {% endfor %}
</div>

{% endblock %}