{% extends 'base.html' %}
{% load static %}

{% block title %}DIRECTORY - Home-Staff{% endblock %}

{% block content %}
<div class="upper-container">
    <div class="welcome-box">
        <div class="box-frame top-left"></div>
        <div class="box-frame top-right"></div>
        <div class="box-frame bottom-left"></div>
        <div class="box-frame bottom-right"></div>
    </div>
</div>
<div class="lower-container">
    <h2 class="lower-container__title">HOT STAFF</h2>
    <ul class="lower-container__content">
        <ul class="portfolios">
            {% for portfolio in all_portfolio %}
            <li class="portfolio">
                <div class="portfolio-thumbnail">
                    <img src="{{portfolio.thumbnail.url}}" />
                </div>
                <div class="movie-info">
                    <p>
                        {{portfolio.title}}
                    </p>
                </div>
            </li>
            {% endfor %}
        </ul>
    </ul>
</div>

{% endblock %}